{% extends "base.html" %}
    {% block customSection %}
    {% load static %}
    <section class="container">
        <div id="main-content" style='padding: 20px;'>
            <div>
                <h2>{{travel.name}}</h2>
                <h4> U$D {{travel.price}}</h4>
            </div>
            <div>
                <form action="{%url 'buy' travel.id %}" style='margin-top:20px' method="POST">{% csrf_token %}
                    {% include "forms_template.html" %}
                    <input class='button button-lg button-primary button-ujarak' style='margin-top:20px' type='submit'value='Comprar'> 
                </form>
            </div>
        </div>
    </section>
    {% endblock customSection %}