{% extends "base.html" %}
    {% block customSection %}
        <section class="user_container">
            <div>
                {% if message %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="user_form_container">
                <form class="user_form" action="{% url 'contact' %}" method='POST'>{% csrf_token %}
                    {% include "forms_template.html" %}
                    <input class='btn btn-primary' type='submit'value='Enviar'> 
                </form>
            </div>
        </section>
    {% endblock customSection %}