{% extends "base.html" %}
    {% block customSection %}
    <section>
        <div>
            <h2>Mis paquetes</h2>
            {% if orders %}
                <ul>
                    {% for order in orders %}
                        <li>Viaje: {{order.travel}}  Salida: {{order.departure}} Llegada: {{order.arrival}}</li>
                    {% endfor %}
                </ul> 
            {% else %}
                <h3>Ningun paquete comprado hasta el momento.</h3>
            {% endif %}
        </div>
    </section>
    {% endblock customSection %}