{% extends "base.html" %}
    {% block customSection %}
    <section class='orders_container'>
        <div>
            <h2>Mis paquetes</h2>
            {% if orders %}
                <ul class='orders_list'>
                    {% for order in orders %}
                        <li class='orders_items'>Viaje: {{order.travel}}  Salida: {{order.departure}} Llegada: {{order.arrival}}</li>
                    {% endfor %}
                </ul> 
            {% else %}
                <h3>Ningun paquete comprado hasta el momento.</h3>
            {% endif %}
        </div>
    </section>
    {% endblock customSection %}