{% extends "base.html" %}
    {% block customSection %}
    <section class="user_container">
        <div class="user_img_container">
            {% if avatar_img %}
                <img class="user_img" src='{{avatar_img}}' alt='avatar'>
            {% else %}
                <p class="user_img">Coloque una imagen</p>
            {% endif %}
        </div>
        <div  class="user_form_container">
            <form class="user_form" action="{%url 'user' %}" method="POST">{% csrf_token %}
                {% include "forms_template.html" %}
                <input class='btn btn-primary' style="margin-top: 15px;" type='submit'value='Actualizar perfil'>        
            </form>
        </div>
        <div>

        </div>
    </section>
    {% endblock customSection %}